<div class="container">
  <div class="toolbar-content">
    <app-dashboard-toolbar></app-dashboard-toolbar>
  </div>

  <div class="content">
    <section>
      <div class="button-row">
        <button
          mat-flat-button
          color="primary"
          type="button"
          (click)="openDialog()"
        >
          Nueva Terea
        </button>
      </div>
    </section>

    <div class="mt-20">
      <h1 class="text-center">Lista de Tareas</h1>
      <app-tasks-table
        [update]="updateTable"
        (selectedTask)="updateTask($event)"
      ></app-tasks-table>
    </div>
  </div>
</div>
