<div class="container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="content">
    <section>
      <div class="button-row">
        <button
          mat-flat-button
          color="primary"
          type="button"
          (click)="openDialog()"
        >
          Nueva Terea
        </button>
      </div>
    </section>

    <div class="mt-20">
      <h1 class="text-center">Lista de Tareas</h1>
      <app-tasks-table
        [update]="updateTable"
        (selectedTask)="updateTask($event)"
      ></app-tasks-table>
    </div>
  </div>
</div>
