.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1;
  margin: 20px;
}

.toolbar-content {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;

  width: 100%;
}

section {
  display: flex;
  width: 100%;
}

.button-row {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 20px;
  button {
    min-width: 200px;
  }
}
