<div class="container">
  <mat-card>
    <mat-card-title class="mt-20">Iniciar sesión</mat-card-title>

    <mat-card-content class="mt-20">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input
            matInput
            type="email"
            placeholder="Correo electrónico"
            formControlName="email"
          />
        </mat-form-field>
        @if( loginForm.get('email')?.hasError &&
        (loginForm.get('email')!.touched || loginForm.get('email')!.dirty)) {
        <div>
          @if(loginForm.get('email')!.hasError('required')){
          <div class="inv-feedback">El campo es obligatorio.</div>
          } @if(loginForm.get('email')!.hasError('email')){
          <div class="inv-feedback">Debe ser un email válido.</div>
          }
        </div>
        }

        <section>
          <div class="button-row">
            <button
              mat-flat-button
              color="primary"
              type="submit"
              [disabled]="!loginForm.valid"
            >
              Login
            </button>
          </div>
        </section>
      </form>
    </mat-card-content>
  </mat-card>
</div>
