<mat-card>
  <mat-card-title class="mt-20">{{ buttonLabel }} Tarea</mat-card-title>

  <mat-card-content class="mt-20">
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
      <div class="mb-20">
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Título"
            formControlName="title"
          />
        </mat-form-field>
        <app-validator-feedback
          [control]="taskForm.get('title')"
        ></app-validator-feedback>
      </div>

      <div class="mb-20">
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Descripción"
            formControlName="description"
          />
        </mat-form-field>
        <app-validator-feedback
          [control]="taskForm.get('description')"
        ></app-validator-feedback>
      </div>

      @if(data) {
      <div class="mb-20">
        <mat-form-field>
          <mat-label>Estatus</mat-label>
          <mat-select formControlName="status">
            @for (status of statusList; track status) {
            <mat-option [value]="status.value">{{ status.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <app-validator-feedback
          [control]="taskForm.get('status')"
        ></app-validator-feedback>
      </div>
      }

      <section>
        <div class="button-row">
          <button
            mat-flat-button
            color="primary"
            type="submit"
            [disabled]="!taskForm.valid"
          >
            {{ buttonLabel }}
          </button>
        </div>
      </section>
    </form>
  </mat-card-content>
</mat-card>
